/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Upper div */
.upper-div {
  padding: 5% 5% 0 5%;
}

.nav {
  background-color: rgb(166, 166, 166);
  display: flex;
  align-items: center;
  color: white;
  height: 8vh;
  border-radius: 1vh;
  margin-bottom: 5%;
  box-shadow: 10px 10px 10px 10px rgb(230, 230, 230);
}

#myTopnav li button {
  background: none;
  color: inherit;
  border: none;
  padding: 0.2vh 1vh;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 0.2vh;
  background-color: rgb(181, 197, 100);
  color: black;
}

.navbar-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.routes .icon {
  display: none;
}

.routes {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.routes li {
  flex-grow: 1;
  margin-right: 2vh;
}

.media-handles {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.media-handles li {
  margin-right: 2vh;
}

.logo {
  width: 20vh;
  padding-right: 50vh;
}

/* Content */
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#sections-list {
  width: 80vh;
}

#sections-list ul {
}

#sections-list li {
  list-style: none;
  padding: 1vh;
}

.section-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section-item:hover {
  background-color: #f0f0f0;
}

#main-section {
  width: 180vh;
  height: 120vh;
}

.main-section h2 {
  margin-top: 0;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 120vh;
  height: 70vh;
  box-shadow: 10px 10px 10px 10px rgb(245, 245, 245);
  border-radius: 1vh;
  border: 1px solid rgb(241, 242, 246);
}

#image-container img {
  position: relative;
  width: 30%;
  height: 40%;
  margin: 5px;
  border-radius: 1vh;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 10rem;
  margin-top: 2vh;
  padding: 1vh;
  box-shadow: 2px 2px 2px 2px rgb(251, 251, 251);
  border-radius: 1vh;
  border: 1px solid rgb(241, 242, 246);
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 2rem;
}

.button-group {
  display: flex;
  flex-direction: row;
}

.button-group span {
  display: inline-block;
  width: 2rem;
  border: 1px solid rgb(241, 242, 246);
  text-align: center;
}

#images-list {
  padding-left: 20px;
}

#images-list li {
  color: rgb(102, 102, 102);
}

#videos-list {
  padding-left: 20px;
}

#videos-list li {
  color: rgb(102, 102, 102);
}

.list-active {
  font-weight: bold;
  text-decoration: underline;
}

.btn-active {
  color: blue;
}

/* Lower div */
.lower-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 230, 230);
  height: auto;
  width: 100%;
  margin: 0;
  padding:5% 0 5% 0
}

.lower-div div {
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.text {
  height: 15%;
}

.lower-div div img {
  width: 30%;
  margin-left: 50px;
}

.learn-more ul {
  color: rgb(102, 102, 102);
}

.newsletter p {
  color: rgb(102, 102, 102);
}

.newsletter input:first-of-type {
  width: 20vh;
  border: none;
  padding: 2vh;
}

.newsletter input:nth-of-type(2) {
  border: none;
  padding: 2vh;
  background-color: rgb(193, 215, 70);
}

.get-in-touch p, a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.top-arrow {
  font-size: xx-large;
  padding: 0 0 0 70%;
  cursor: pointer;
}

.lower-div div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lower-div div li {
  margin: 0;
  padding: 0;
}

.learn-ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

form {
  display: flex;
  align-items: center;
}

form input[type="email"],
form input[type="button"] {
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vh;
  background-color: rgb(201, 201, 201);
  color: rgb(102, 102, 102);
}

.footer span {
  padding: 1vh;
}

/* Media Queries */
@media (max-width: 1200px) {
  .logo{
    width:30%;
    padding:2vh
  }

   .lower-div {
      flex-direction: column;
      align-items: center;
  }
  .list{
    
  }
  
  
 

  .content {
      flex-direction: column;
      align-items: center;
  }
  
  #sections-list {
      width: 100%;
  }
  
  #main-section {
      width: 100%;
      height: auto;
  }
  
  #image-container {
      width: 90%;
      height: auto;
  }
  
  #image-container img {
      width: 45%;
      height: auto;
  }
}

@media (max-width: 768px) {
  .nav {
      height: auto;
      margin-bottom: 2vh;
  }

  .navbar-list {
      width: 100%;
  }

  .content {
      flex-direction: column;
  }

  #sections-list {
      width: 100%;
  }

  #main-section {
      width: 100%;
      height: auto;
  }

  #image-container {
      width: 100%;
      height: auto;
  }

  #image-container img {
      width: 45%;
      height: auto;
  }

  .lower-div {
      flex-direction: column;
      align-items: center;
  }

  .lower-div div {
      width: 90%;
      margin-bottom: 5vh;
  }
}

@media (max-width: 480px) {
  .nav {
      flex-direction: column;
      align-items: center;
      height: auto;
  }

  .navbar-list {
      flex-direction: column;
      width: 100%;
      align-items: center;
  }

  .logo {
      padding-right: 0;
      margin-bottom: 2vh;
  }

  .content {
      flex-direction: column;
  }

  #sections-list {
      width: 100%;
  }

  #main-section {
      width: 100%;
      height: auto;
  }

  #image-container {
      width: 100%;
      height: auto;
  }

  #image-container img {
      width: 90%;
      height: auto;
  }

  .lower-div {
      flex-direction: column;
      align-items: center;
  }

  .lower-div div {
      width: 100%;
      margin-bottom: 5vh;
  }
}
